.home_page {
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;
}

.header_frame {
  position: relative;
  margin-top: 47px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.header_frame .contanier {
  flex-direction: row;
}
.header_frame .contanier .header_left {
  width: 871px;
  height: 508px;
  position: relative;
  background-image: url(../images/icons/header_bg.svg);
  background-color: #0053f6;
  padding: 12px;
  border-radius: 8px;
}
.header_frame .header_left .header_content {
  display: flex;
  margin-top: 90px;
  flex-direction: column;
}
.header_frame .header_content div {
  width: 104px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background: #f5c34b;
  color: var(--Color-Text-Dark, #041e42);
  font-family: Jost;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}
.header_content span {
  width: 428px;
  margin-top: 10px;
  color: var(--Bg-White, #fff);
  font-family: Jost;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header_frame .header_content p {
  margin-top: 10px;
  color: #ffff;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.header_frame .header_content a {
  margin-top: 20px;
  width: 140px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  border: 1px solid var(--Bg-White, #fff);
  background: var(--Bg-White, #fff);
  color: var(--Color-Text-Dark, #041e42);
  text-align: center;
  font-family: Jost;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}
.header_frame .header_content img {
  position: absolute;
  right: 10px;
}
.header_frame .contanier .header_right {
  position: relative;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header_frame .header_right .header_box {
  width: 422px;
  height: 240px;
  display: flex;
  flex-direction: row;
  background: #f2f2f2;
  border-radius: 5px;
}
.header_frame .header_box .box_left {
  margin-left: 30px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header_frame .box_left span {
  color: #0053f6;
  font-family: Jost;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
.header_frame .box_left p {
  color: var(--Color-Text-Dark, #041e42);
  font-family: Jost;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  margin: 10px 0px;
}
.header_frame .box_left a {
  color: var(--Color-Text-Dark, #041e42);
  font-family: Jost;
  font-size: 15px;
  font-style: normal;
  font-weight: 4o0;
  line-height: 22px;
}
.header_frame .box_left .hover_border {
  width: 32px;
  height: 2px;
  background: var(--Color-Text-Dark, #041e42);
  margin-top: 3px;
}
.header_frame .header_box .box_right {
  width: 50;
}
.header_frame .box_right img {
  width: 100%;
  height: 100%;
}
/* Service_frame */
.home_page .service_frame {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.service_frame .contanier {
  flex-direction: row;
}
.service_frame .contanier .service_box {
  width: 25%;
  height: 86px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #615e5e;
}
.service_frame .service_box img {
  width: 35px;
  height: 35px;
}
.service_frame .service_box .service_content {
  margin-left: 14px;
  display: flex;
  flex-direction: column;
}
.service_frame .service_content span {
  color: var(--Color-Text-Dark, #041e42);
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
.service_frame .service_content p {
  color: var(--Color-Text-Light, #626974);
  font-family: Jost;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

/*  shop_category */
.shop_category_frame {
  width: 100%;
  position: relative;
  height: auto;
  margin-top: 90px;
  display: flex;
  justify-content: center;
}
.shop_category_frame .contanier {
  flex-direction: column;
}

.contanier .category_top {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.category_top span {
  color: var(--Color-Text-Dark, #041e42);
  font-family: Jost;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.category_top a {
  color: var(--Color-Text-Dark, #041e42);
  font-family: Jost;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}
.category_top a:hover {
  border-bottom: 2px solid rgb(2, 2, 80);
}

.shop_category_frame .category_wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  margin-top: 30px;
  justify-content: space-between;
}
.shop_category_frame .category_box {
  display: flexbox;
  flex-direction: column;
  width: 142px;
  height: auto;
  text-align: center;
  cursor: pointer;
}
.shop_category_frame .category_box .category_img_box {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 150px;
  border: 1px solid var(--Color-Border, #eaeaea);
  background: var(--Bg-White, #fff);
}
.shop_category_frame .category_box span {
  color: var(--Color-Text-Dark, #041e42);
  text-align: center;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  margin-top: 15px;
}
