.home_page {
  display: flex;
  flex-direction: column;
}

.header_frame {
  position: relative;
  margin-top: 47px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.header_frame .contanier {
  flex-direction: row;
}
.contanier .header_left {
  width: 871px;
  height: 508px;
  position: relative;
  background-image: url(../images/icons/header_bg.svg);
  background-color: #0053f6;
  padding: 12px;
}
.header_left .header_content {
  display: flex;
  margin-top: 90px;
  flex-direction: column;
}
.header_content div {
  width: 104px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background: #f5c34b;
  color: var(--Color-Text-Dark, #041e42);
  font-family: Jost;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}
.header_content span {
  width: 428px;
  margin-top: 10px;
  color: var(--Bg-White, #fff);
  font-family: Jost;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header_content p {
  margin-top: 10px;
  color: #ffff;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.header_content a {
  margin-top: 20px;
  width: 140px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  border: 1px solid var(--Bg-White, #fff);
  background: var(--Bg-White, #fff);
  color: var(--Color-Text-Dark, #041e42);
  text-align: center;
  font-family: Jost;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}
.header_content img {
  position: absolute;
  right: 10px;
}
.contanier .header_right {
  position: relative;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header_right .header_box {
  width: 422px;
  height: 240px;
  display: flex;
  flex-direction: row;
  background: #f2f2f2;
  border-radius: 5px;
}
.header_box .box_left {
  margin-left: 30px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.box_left span {
  color: #0053f6;
  font-family: Jost;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
.box_left p {
  color: var(--Color-Text-Dark, #041e42);
  font-family: Jost;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  margin: 10px 0px;
}
.box_left a {
  color: var(--Color-Text-Dark, #041e42);
  font-family: Jost;
  font-size: 15px;
  font-style: normal;
  font-weight: 4o0;
  line-height: 22px;
}
.box_left .hover_border {
  width: 32px;
  height: 2px;
  background: var(--Color-Text-Dark, #041e42);
  margin-top: 3px;
}
.header_box .box_right {
  width: 50;
}
.box_right img {
  width: 100%;
  height: 100%;
}
